<%- include("partials/header"); -%>
    <div class="result">
      <h2>TDEE VALUE IS <%=TDEEvalue%> </h2>
      <h2>BMR VALUE IS <%=BMRvalue%> </h2>
      <div class="calorie">
        <p class="topptag">Colories to take in per day,to lose 2Kg in a month :<b> <%=calToLose2Kg%> </b> </p>
        <p>Colories to take in per day,to lose 4Kg in a month :<b> <%=calToLose4Kg%> </b> </p>
        <p>Colories to take in per day,to gain 2Kg in a month :<b> <%=calToGain2Kg%> </b> </p>
        <p class="bottomptag">Colories to take in per day,to gain 4Kg in a month :<b> <%=calToGain4Kg%> </b> </p>
      </div>

</div>

<%- include("partials/footer"); -%>
