<%- include("partials/header"); -%>
    <div class="result">
      <h2>TDEE VALUE IS <%=TDEEvalue%> </h2>
      <h2>BMR VALUE IS <%=BMRvalue%> </h2>
      <p>Colories to take in,to lose 2Kg in a month is <%=calToLose2Kg%> </p>
      <p>Colories to take in,to lose 4Kg in a month is <%=calToLose4Kg%> </p>
      <p>Colories to take in,to gain 2Kg in a month is <%=calToGain2Kg%> </p>
      <p>Colories to take in,to gain 4Kg in a month is <%=calToGain4Kg%> </p>
</div>

<%- include("partials/footer"); -%>
